<div>
    <h3>Ajouter Un  Classroom</h3>
    <form action="http://atelier3.com/index.php/classroom/addclassroom" method="POST">
        <label for="classroom">Classroom:</label>
        <input type="text" id="name" name="Name"></input> 
        <input type="submit" value="Ajouter Classroom"/>
    </form>
</div>